.App {
  text-align: center;
}

.list_container{
  display: flex;
  flex-wrap: wrap;

}

.profile{
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile_container{
  border: 1px solid black;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 10px;
}